<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>det_gender</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Juego: Determinar genero</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Para este juego, favor escriba su nombre:
      </ion-card-title>
      <ion-card-subtitle>
        Si es masculino el color del resultado sera azul. Si es femenino, rosa.
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]='name' id="userInput" label="Nombre:" placeholder="Ingrese su nombre aqui"></ion-input>
          <ion-button (click)='genderize()' id="detGenderBtn">Aceptar</ion-button>
          <p>Genero: <ion-button id="changeColor" [color]="btnColor">Resultado</ion-button></p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
<!--<script src="./detgender.js"></script>-->