<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Contactáme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contacto</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="mb-4">
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contactáme</h2>
    <div class="row">
      <div class="col-md-9 mb-md-0 mb-5">
        <form id="contact-form" name="contact-form" action="mailto:felixjunioralmontep@gmail.com" method="POST">
          <div class="row">
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="name" name="name" class="form-control">
                <label for="name" class="">Nombre</label>
              </div>
            </div>

            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="email" name="email" class="form-control">
                <label for="email" class="">Correo</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="md-form mb-0">
                <input type="text" id="subject" name="subject" class="form-control">
                <label for="subject" class="">Razón</label>
              </div>
            </div>
          </div>
        </form>

        <div class="text-center text-md-left">
          <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Enviar</a>
        </div>
        <div class="status"></div>
      </div>
      <!--Grid column-->
    </div>
  </div>
</ion-content>
